#section-lista-Atleta {
    max-width: 750px;
    width: 100%;
    min-height: 550px;
    margin: 20px auto;
    padding: 25px;
    color: var(--cor-primaria);
    font-size: 18px;
}

.atleta-item {
    width: 100%;
    min-height: 35px;
    padding: 10px 15px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.atleta-item:hover {
    background-color: var(--cor02);
}

.span-dados-atleta {
    flex: 1;
}

.span-lnk-atletas {
    display: flex;
    align-items: center;
    gap: 15px;
}

.lnk-atleta {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.lnk-alterar {
    color: var(--botao02);
}

.lnk-excluir {
    color: var(--botao01);
}