<section id="form">
    <h2>Cadastrar Corrida</h2>
    <form action="" id="form-corrida">
        <label for="descricao">Descrição da corrida</label>
        <input type="text" name="descricao" [ngModel]="descricao" class="input01" maxlength="60" required placeholder="Ex: 5° Maratona noturna da cidade">

        <label for="data">Data da Corrida</label>
        <input type="date" name="data" [ngModel]="data" class="input01" required>

         <label for="distancia">Distância Disponível</label>
        <input type="radio" name="distancia" [ngModel]="distancia" class="input01" required value="5km"> 5 quilômetro
    </form>
    </form>
</section>