<section id="form">
    <h2> {{ !editar ? 'cadastro' : 'Alterar'}} Atleta </h2>

    <form id="form-atleta" (ngSubmit)="enviarDadosAtleta()">
        <label for="nome">Nome Completo*</label>
        <input type="text" name="nome" id="nome" [(ngModel)]="nome" class="input01" maxlength="60" required
            placeholder="Digite o nome Completo">

        <label for="datanascimento">Data de Nascimento*</label>
        <input type="date" name="datanascimento" id="datanascimento" [(ngModel)]="datanascimento" class="input01" required>

        <label for="sexo">Sexo*</label>
        <div>
            <input type="radio" name="sexo" id="sexoM" [(ngModel)]="sexo" class="radio01" required value="M"> Masculino
            <input type="radio" name="sexo" id="sexoF" [(ngModel)]="sexo" class="radio01" required value="F"> Feminino
            <input type="radio" name="sexo" id="sexoN" [(ngModel)]="sexo" class="radio01" required value="N"> Não Declarar
        </div>

        <label for="peso">Peso (kg)*</label>
        <input type="number" name="peso" id="peso" [(ngModel)]="peso" class="input02" step="0.1" required
            placeholder="Ex: 70.5">

        <label for="altura">Altura (m)*</label>
        <input type="number" name="altura" id="altura" [(ngModel)]="altura" class="input02" step="0.01" required
            placeholder="Ex: 1.75">

        <div id="div-btns">
            <button type="submit" id="btnAdd"> {{ !editar ? 'cadastro' : 'Alterar'}} </button>
            <button type="reset" id="btnLimpar" (click)="limparDados()"> Limpar </button>
        </div>

    </form>
</section>